<h2> Register </h2>
<form [formGroup]="userRegisterForm" (ngSubmit)="saveUser()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" formControlName="firstName" class="form-control"/>
    <app-control-messages [control]="f.firstName"></app-control-messages>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" formControlName="lastName" class="form-control"/>
    <app-control-messages [control]="f.lastName"></app-control-messages>
  </div>
  <div class="form-group">
    <label for="emailID">Email ID</label>
    <input type="text" formControlName="emailID" class="form-control"/>
    <app-control-messages [control]="f.emailID"></app-control-messages>
  </div>
  <div class="form-group">
    <label for="userName">User Name</label>
    <input type="text" formControlName="userName" class="form-control"/>
    <app-control-messages [control]="f.userName"></app-control-messages>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" formControlName="password" class="form-control"/>
    <app-control-messages [control]="f.password"></app-control-messages>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="text" formControlName="confirmPassword" class="form-control"/>
    <app-control-messages [control]="f.confirmPassword"></app-control-messages>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" [disabled]="userRegisterForm.invalid">Register</button>
  </div>
</form>
